body {
  /* background-color: rgb(34, 34, 34); */
  background-color: white;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.app__menu {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  margin-top: 40px;
}

.app__heading {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #494949;
}

.app__body {
  /* background-color: rgb(29, 29, 29); */
  background-color: #e8e8e8;
  height: 70vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 40px 20px;
  border-radius: 20px;
  overflow: auto;
}

.app__body::-webkit-scrollbar {
  display: none;
}

.bottomArea {
  padding-bottom: 10px;
}
